@{
    
}
<!-- Home/landing page-->
<html>

<body>
    <h1>My Hobby</h1>
    <p>A hobby of mine is watching sports, specifically teams from my home state of Utah.
        Two of the teams I enjoy watching are the Utah Jazz, and Real Salt Lake.
    </p>
    <p>The Utah Jazz are currently in a rebuilding phase. At the trade deadline this past thursday,
        they moved on from a few players, sending Kelly Olynyk and Ochai Agbaji to the Raptors, and 
        Simone Fontecchio to the Pistons. In return, they received Otto Porter Jr., Kira Lewis Jr.,
        and Kevin Knox, as well as a first and second round pick in this years draft. Hopfully these
        assets will allow the Jazz to make a big move in the future to build around their current star
        Lauri Markkanen.
    </p>
    <img src="~/jazz.jpg" height="300" />

    <p>Real Salt Lake opens their season against Inter Miami and the GOAT Leo Messi February 21st. After a lackluster end to last
        season, RSL looks to build on the few bright spots, Chicho Arango and Diego Luna. The retrun of Pablo Ruiz after a season
        ending knee injury should aslo bring some stability to the starting lineup. The biggest question seems to be how the team
        will stop Messi from scoring his first MLS hat trick with all liabilities they have in their backline.
    </p>
    <img src="~/rsl.jpg" height="300" />



</body>
</html>
